<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481627584868-sav056o58t4m7od2qkbuo5teg34hd6pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481627584868-sav056o58t4m7od2qkbuo5teg34hd6pa</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLiBKtgGNlsrcJxu_WqyUDcGJ_xVnY_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>481627584868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UCR.pport</string>
	<key>PROJECT_ID</key>
	<string>workingcopy-30dbc</string>
	<key>STORAGE_BUCKET</key>
	<string>workingcopy-30dbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481627584868:ios:41df37958fbceda3062271</string>
</dict>
</plist>